<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/navigation :: head('Create Product')}"></head>

<body>

<div th:replace="~{fragments/navigation :: navigation}"></div>

<div class="container">
    <div class="row py-2">
        <div class="col-12">
            <form th:action="@{/product/new}" th:method="post" th:object="${product}">
                <input type="hidden" th:field="*{id}">
                <div class="form-group">
                    <label>Name
                        <input type="text" class="form-control" th:field="*{name}" placeholder="Enter name">
                    </label>
                    <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></small>
                </div>
                <div class="form-group">
                    <label>Description
                        <input type="text" class="form-control" th:field="*{description}"
                               placeholder="Enter description">
                    </label>
                </div>
                <div class="form-group">
                    <label>Price
                        <input type="number" class="form-control" th:field="*{price}" placeholder="Enter price">
                    </label>
                    <small th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>

<script th:fragment="~{fragments/navigation :: scripts}"></script>

</body>

</html>